body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    z-index: 1;
    position: relative;
}

nav {
    background-color: #444;
    z-index: 1;
    position: relative;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 15px 0;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.posts {
    width: 60%;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.post-form {
    width: 35%;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 190px;
    right: 20px;
    z-index: 2;
}

.post-form h2,
.posts h2 {
    margin-top: 0;
}

.post-form label {
    display: block;
    margin-top: 10px;
}

.post-form input[type="text"],
.post-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

post-form input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.post-form input[type="submit"]:hover {
    background-color: #555;
}

.post {
    background: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    position: relative; /* Dodajemy względne pozycjonowanie */
}

.comments {
    margin-top: 10px;
}

.comment {
    background: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}

.comment-form {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
    margin-top: 10px;
}

.comment-form form {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.rating {
    display: flex;
    align-items: center;
    position: absolute; /* Dodajemy absolutne pozycjonowanie */
    bottom: 10px;       /* Ustawiamy pozycję od dołu */
    right: 10px;        /* Ustawiamy pozycję od prawej */
}

.rating img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.rating .score {
    margin: 0 10px;
    font-size: 1.2em;
}
