body {
    font-family: Arial, sans-serif;
    background-color: #1e1e2f;
    color: #e6e6e6;
    margin: 0;
    padding: 0;
    animation: fadeIn 1s ease-out;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.92), rgba(0, 0, 0, 0.92)), /* przezroczystość */
        url('background.jpg');
    background-size: cover; /* Tło wypełnia całą powierzchnię, zachowując proporcje */
    background-position: center; /* Tło jest wyśrodkowane */
    height: 100vh; /* Tło zajmuje całą wysokość okna przeglądarki */
}

header {
    background-color: #27293d;
    color: #fff;
    padding: 1rem;
    text-align: center;
    border-bottom: 2px solid #44475a;
}

header h1 {
    margin: 0;
}

nav {
    background-color: #2a2b3c;
    padding: 0.5rem 1rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-weight: bold; /* Pogrubiona czcionka */
    text-transform: uppercase; /* Wyskalowanie tekstu */
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #e6e6e6;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: #44475a;
    color: #FFA500;
    border-radius: 4px;
}

nav form {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

nav form input[type="text"] {
    padding: 0.5rem;
    border: 1px solid #44475a;
    border-radius: 4px;
    background-color: #282a36;
    color: #e6e6e6;
}

nav form input[type="submit"] {
    padding: 0.5rem 1rem;
    background-color: #FFA500;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 12px;
    margin-left: 12px;
}

nav form input[type="submit"]:hover {
    background-color: #FF7F00;
}

main {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
    flex: 1;
    background-color: #222533;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    animation: fadeIn 1.5s ease-out; /* Cała strona będzie miała animację */
}

/* Sekcja postów z efektem fade-in */
section.posts {
    margin-bottom: 2rem;
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 1.5rem;
    align-items: start;
    flex: 1;
}

/* Każdy post w sekcji będzie miał opóźnienie w animacji */
section.posts .post {
    background-color: #2a2b3c;
    border: 1px solid #44475a;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 0; /* Ustawienie początkowej niewidoczności */
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 0.5s; /* Opóźnienie dla każdego posta */
}

section.posts .post:nth-child(1) {
    animation-delay: 0.25s; /* Pierwszy post - krótka pauza */
}

section.posts .post:nth-child(2) {
    animation-delay: 0.50s; /* Drugi post - opóźniony */
}

section.posts .post:nth-child(3) {
    animation-delay: 0.75; /* Trzeci post - jeszcze większe opóźnienie */
}

section.posts .post:nth-child(4) {
    animation-delay: 1s; /* Trzeci post - jeszcze większe opóźnienie */
}

section.posts .post:nth-child(5) {
    animation-delay: 1.25s; /* Trzeci post - jeszcze większe opóźnienie */
}

section.posts .post:nth-child(6) {
    animation-delay: 1.50s; /* Trzeci post - jeszcze większe opóźnienie */
}

section.posts .post.animation-done {
    animation: none; /* Zatrzymanie animacji po jej zakończeniu */
    opacity: 1;
}

section.posts .post:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.post-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.post-left {
    width: 75%;
}

.post-right {
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.76rem;
}

.post-left, .post-right {
    word-wrap: break-word; /* Pozwala na zawijanie długich wyrazów */
    word-break: break-word; /* Dodaje dodatkowe zawijanie, jeśli wyraz jest za długi */
    overflow-wrap: break-word; /* Wspiera starsze przeglądarki */
    max-width: 100%;
    line-height: 1.6;
}

.post {
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
    line-height: 1.6;
}

.post-nick {
    font-weight: bold;
    font-size: 0.76rem;
    background-color: #44475a;
    padding: 0.5rem;
    border-radius: 4px;
    display: inline-block;
}

.post-content {
    margin-top: 1rem;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    overflow-x: hidden; /* Ukryj poziomy pasek przewijania, jeśli jest */
    background-color: #44475a;
    padding: 0.5rem;
    border-radius: 4px;
    margin-top: 1rem;
}

.post-features {
    background-color: #44475a;
    padding: 0.5rem;
    border-radius: 4px;
    margin-top: 1rem;
}
.post-content, .post-features {
    line-height: 1.6; /* Większa wartość, bardziej czytelny tekst */
}

.post-date,
.post-location,
.post-shop {
    background-color: #44475a;
    padding: 0.5rem;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
}

.post-date {
    margin-top: 0;
}

.post-image {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    margin-top: 1rem;
}

.post-image img {
    width: 100%;
    border-radius: 4px;
}



.comments {
    margin-top: 1rem;
    background-color: #1e1e2f;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.comments h4 {
    margin: 0;
    font-size: 1.2rem;
    color: #ffffff; /* Białe napisy */
    font-weight: bold;
    border-bottom: 2px solid #ffffff; /* Białe obramowanie */
    padding-bottom: 0.3rem;
    margin-bottom: 1rem;
}

.comment {
    background-color: #2b2b3c;
    border-left: 4px solid #FFA500; /* Biała obramówka */
    padding: 1rem;
    margin-top: 0.75rem;
    border-radius: 6px;
    word-wrap: break-word;
    word-break: break-word;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.comment:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.7);
}

.comment p {
    margin: 0;
    color: #ffffff; /* Białe napisy */
    line-height: 1.5;
}

.comment-form {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.3s ease;
    margin-top: 1rem;
}

.comment-form.visible {
    max-height: 300px; /* Maksymalna wysokość formularza */
    opacity: 1;
}

.comment-form form {
    display: flex;
    flex-direction: column;
    background-color: #1e1e2f;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.comment-form input[type="text"],
.comment-form textarea {
    margin-bottom: 0.75rem;
    padding: 0.75rem;
    border: 1px solid #ffffff; /* Biała obramówka */
    border-radius: 6px;
    background-color: #2b2b3c;
    color: #ffffff; /* Białe napisy */
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.comment-form input[type="text"]:focus,
.comment-form textarea:focus {
    border-color: #FFA500;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5); /* Biały cień */
    outline: none;
}

.comment-form input[type="submit"] {
    padding: 0.75rem 1.5rem;
    background-color: #6c757d; /* Szary przycisk */
    color: #ffffff; /* Białe napisy */
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    align-self: flex-start;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.comment-form input[type="submit"]:hover {
    background-color: #5a6268; /* Ciemniejszy szary na hover */
    transform: translateY(-2px);
}

.rating {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.rating img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.rating .score {
    margin: 0 0.5rem;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    opacity: 0; /* Początkowo niewidoczna */
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 2s; /* Paginacja pojawia się po opóźnieniu */
    font-weight: bold; /* Pogrubiona czcionka */
    text-transform: uppercase; /* Wyskalowanie tekstu */
}

.pagination a,
.pagination span {
    margin: 0 0.25rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #a7acb3;
    border: 1px solid #FFA500;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.pagination a:hover {
    background-color: #FFA500;
    color: #fff;
}

.pagination .current-page {
    background-color: #FFA500;
    color: #fff;
}

.open-post-form {
    background-color: #1e1e2f;
    color: #FFA500;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-weight: bold; /* Pogrubiona czcionka */
    text-transform: uppercase; /* Wyskalowanie tekstu */
}

.open-post-form:hover {
    background-color: #32324d;
    transform: scale(1.05);
}

.post-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: scale(1.1);
}

.post-modal.visible {
    opacity: 1;
    transform: scale(1);
}

.post-modal-content {
    background-color: #2b2b3c;
    margin: 5% auto;
    padding: 20px;
    border: none;
    width: 80%;
    max-width: 600px;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    position: relative;
    animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.post-modal .close {
    color: #f0f0f0;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.post-modal .close:hover,
.post-modal .close:focus {
    color: #ff4c4c;
    text-decoration: none;
    cursor: pointer;
}

form .form-group {
    margin-bottom: 1rem;
}

form .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #cfcfd8;
}

form .form-group input,
form .form-group textarea,
form .form-group select {
    width: 100%;
    padding: 0.75rem;
    background-color: #1e1e2f;
    border: 1px solid #4c4c6d;
    max-width: 570px;
    border-radius: 6px;
    color: #fff;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

form .form-group input:focus,
form .form-group textarea:focus,
form .form-group select:focus {
    border-color: #007bff;
    box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.5);
    outline: none;
}

form .form-group input[type="file"] {
    padding: 0;
    color: #cfcfd8;
}

.submit-btn {
    padding: 0.75rem 1.5rem;
    background-color: #FFA500;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.submit-btn:hover {
    background-color: #FF7F00;
    transform: scale(1.05);
}


footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
    flex-shrink: 0;
}

.sort-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.sort-buttons span {
    font-weight: bold;
}

.sort-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #313436;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sort-button:hover {
    background-color: #627080;
}

.delete-btn {
    background-color: #dc3545;
    color: #fff;
    padding: 10px 15px;
    margin-left: 24px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.error {
    color: #ff0000;
    margin-top: 10px;
}

.wymagania{
    width:140%;
}

.post-icon {
    width: 1rem; /* Szerokość ikony */
    height: 1rem; /* Wysokość ikony */
    margin-right: 0.5rem; /* Odstęp między ikoną a tekstem */
    vertical-align: middle; /* Wyrównanie ikony z tekstem */
    filter: brightness(0) invert(1); /* Dostosowanie do ciemnego motywu (biała ikona) */
    display: inline-block; /* Zapewnia dobre rozmieszczenie obok tekstu */
}
.post-date .post-icon {
    content: url('icons/calendar.png'); /* Ikona dla daty */
}

.post-location .post-icon {
    content: url('icons/skyline.png'); /* Ikona dla lokalizacji */
}

.post-shop .post-icon {
    content: url('icons/shop.png'); /* Ikona dla sklepu */
}

.post-nick .post-icon {
    content: url('icons/user.png'); /* Ikona dla nicka */
}
.comment-button {
    background-color: #FFA500; /* Pomarańczowy */
    color: white; /* Biała czcionka */
    border: none; /* Brak obramowania */
    border-radius: 8px; /* Zaokrąglone rogi */
    padding: 12px 24px; /* Wewnętrzne odstępy */
    margin-top: 12px;
    font-size: 16px; /* Rozmiar czcionki */
    font-weight: bold; /* Pogrubiona czcionka */
    text-transform: uppercase; /* Wyskalowanie tekstu */
    cursor: pointer; /* Kursor wskazujący na przycisk */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Płynne przejścia */
}

.comment-button:hover {
    background-color: #FF7F00; /* Zmiana koloru na ciemniejszy pomarańczowy podczas najechania */
    transform: scale(1.05); /* Powiększenie przycisku przy najechaniu */
}

.comment-button:focus {
    outline: none; /* Brak konturu przy fokusie */
}

/* Styl głównego przycisku */
.sort-container {
    position: relative;
    display: inline-block;
}

.sort-btn {
    background-color: #FFA500; /* Pomarańczowy */
    color: white; /* Biała czcionka */
    border: none; /* Brak obramowania */
    border-radius: 0;
    padding: 12px 24px; /* Wewnętrzne odstępy */
    font-size: 16px; /* Rozmiar czcionki */
    font-weight: bold; /* Pogrubiona czcionka */
    text-transform: uppercase; /* Wyskalowanie tekstu */
    cursor: pointer; /* Kursor wskazujący na przycisk */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Płynne przejścia */
}

.sort-btn:hover {
    background-color: #FF7F00; /* Zmiana koloru na ciemniejszy pomarańczowy podczas najechania */
    transform: scale(1.05); /* Powiększenie przycisku przy najechaniu */
}

/* Styl rozwijanej listy */
.dropdown {
    display: none; /* Ukrycie rozwijanego menu domyślnie */
    position: absolute;
    top: 100%; /* Ustawienie poniżej przycisku */
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Pomarańczowy z opacity 0.5 */
    border-radius: 0; /* Zaokrąglone rogi */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Delikatny cień */
    padding: 8px 0;
    width: 100%;
}

.dropdown-btn {
    background-color: transparent; /* Przycisk bez tła */
    color: white; /* Biała czcionka */
    border: none; /* Brak obramowania */
    padding: 10px 20px; /* Wewnętrzne odstępy */
    border-left: 6px solid #FFA500; /* Biała obramówka */
    font-weight: bold; /* Pogrubiona czcionka */
    text-transform: uppercase; /* Wyskalowanie tekstu */
    font-size: 16px; /* Rozmiar czcionki */
    text-align: left; /* Wyrównanie tekstu do lewej */
    width: 100%;
    cursor: pointer; /* Kursor wskazujący na przycisk */
    transition: background-color 0.3s ease; /* Płynne przejście przycisku */
}

.dropdown-btn:hover {
    background-color: rgba(255, 165, 0, 0.8); /* Zmiana koloru przy najechaniu */
}

/* Widoczność rozwijanego menu po najechaniu na główny przycisk lub menu */
.sort-container:hover .dropdown,
.dropdown:hover {
    display: block; /* Pokaż menu przy najechaniu na główny przycisk lub menu */
}

.searchbtn{
    padding: 12px 1px; /* Wewnętrzne odstępy */
    font-size: 16px; /* Rozmiar czcionki */
    font-weight: bold; /* Pogrubiona czcionka */
}

/* Styl dla kontenera searchbox */
.searchbox {
    display: flex;
    align-items: center; /* Wyrównanie elementów do środka w pionie */
    max-width: 400px;
    padding: 5px 10px;
}

/* Styl etykiety dla searchbox */
.searchbox label {
    font-size: 14px;
    font-weight: 500;
    color: white; /* Ciemny kolor tekstu */
    font-weight: bold; /* Pogrubiona czcionka */
    margin-right: 15px; /* Przestrzeń między etykietą a polem tekstowym */
    transition: color 0.3s ease; /* Płynna zmiana koloru */
}

/* Styl pola tekstowego w searchbox */
.searchbox input[type="text"] {
    padding: 10px 15px; /* Wewnętrzne odstępy */
    font-size: 16px;
    color: white; /* Kolor tekstu w polu */
    background-color: #292828; /* Tło pola */
    border: 2px solid #ccc; /* Subtelna ramka */
    border-radius: 8px; /* Zaokrąglone rogi */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Płynna animacja przy focus */
    width: 250px; /* Określenie szerokości pola tekstowego */
}

/* Zmiana wyglądu inputa przy hover w searchbox */
.searchbox input[type="text"]:hover {
    border-color: #888; /* Zmiana koloru ramki przy najechaniu */
}

/* Zmiana wyglądu inputa przy focus w searchbox */
.searchbox input[type="text"]:focus {
    border-color: #ffa500; /* Kolor ramki przy focus */
    outline: none; /* Usunięcie obramowania domyślnego */
    box-shadow: 0 0 8px rgba(255, 165, 0, 0.5); /* Pomarańczowa poświata wokół pola */
}

/* Styl etykiety po kliknięciu na pole (focus) */
.searchbox input[type="text"]:focus + label {
    color: #ffa500; /* Zmiana koloru etykiety na pomarańczowy po focus */
}
.postitle{
    color:#FFA500;
    font-weight: bold; /* Pogrubiona czcionka */
    text-transform: uppercase; /* Wyskalowanie tekstu */
}
/* Ukrywanie domyślnego inputu typu file */
.file-input {
    display: none; /* Ukrywa domyślny przycisk */
}

/* Styl dla niestandardowego przycisku */
.file-btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: #ffa500; /* Pomarańczowe tło przycisku */
    color: #fff; /* Biały kolor tekstu */
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 6px; /* Zaokrąglone rogi */
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}   

/* Zmiana koloru tła i efekt przycisku po najechaniu */
.file-btn:hover {
    background-color: #e67e00; /* Ciemniejszy odcień pomarańczowego */
    transform: scale(1.05); /* Lekka animacja powiększania */
}

/* Zmiana tła i efekt po kliknięciu */
.file-btn:active {
    background-color: #d35400; /* Jeszcze ciemniejszy odcień przy kliknięciu */
    transform: scale(1); /* Usunięcie animacji po kliknięciu */
}

/* Stylowanie przycisku w urządzeniach dotykowych */
.file-btn:focus {
    outline: none; /* Usunięcie konturu */
    box-shadow: 0 0 5px rgba(255, 165, 0, 0.7); /* Pomarańczowa poświata */
}
/* Styl dla kontenera header, wyśrodkowanie poziome */
/* Styl dla kontenera header, wyśrodkowanie poziome */
header {
    display: flex;
    justify-content: center;  /* Wyśrodkowanie poziome */
    align-items: center;      /* Wyrównanie pionowe (na środku wysokości) */
}

/* Styl dla nagłówka h1 */
header h1 {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: white;
    margin: 0;
}

/* Styl dla ikony obok tekstu */
.header-icon {
    width: 40px;  /* Szerokość ikony */
    height: 40px; /* Wysokość ikony */
    margin-right: 10px; /* Odstęp między ikoną a tekstem */
    object-fit: contain; /* Zachowanie proporcji ikony */
}
